{% extends "base.html" %}

{% block title %}Order{% endblock %}

{% block content %}


<h1 class="title">
    <p>Orders</p>
</h1>

    <table>

        <h2  class="subtitle">

            <tr>

                <p>Your name: {{ user }}.</p>

                <p>Email: {{ email }}. </p>

                {% for good in goods %}
                <p>Orders: {{ good }}. </p>

                {% endfor %}

<!--                <p>Orders: {{ goods }}. </p>-->

<!--                {% for user in orders.order_lines %}-->
<!--                <p>Orders: {{ user.good.name }}. Price: {{ user.good.price }}. </p>-->
<!--                {% endfor %}-->

                <p>Total price: {{ total }}</p>


            </tr>

        </h2>

    </table>

{% endblock %}
